html,body,ul,li,img,a,p,div,input,form ,h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::before , .clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    overflow: hidden;
    clear: both;
}
body {
    background-color: #e0e0e0;
}
ul , li {
    list-style: none;
}
.slider {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.Img {
    position: relative;
}
li {
    float: left;
}
li img {
    display: block;
    width: 100%;
}
.Img li {

}
.point {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.point li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 5px;

}
.active {
    background-color: #fff;
}